*{
    margin:0;
    padding:0;
}
header{
    text-align: center;
    background-color: darkgrey;
    color:aliceblue;
    font-size:30px;
    padding:40px;
}
nav{
    margin-top:10px;
    margin-bottom:10px ;
    text-align: center;
    color:azure;
    background-color: gray;
    padding:20px;
    font-size: 20px;
}
.slideshow{
    border: 10px solid gray;
    text-align: center;
    color:aliceblue;
    background-color:darkgray;
    padding:85px;
    font-size: 20px;
}
.grid{
    background-color: gray;
}
.column{
    width:31.8%;
    height:200px;
    background: #fff;
    display: inline-block;
    margin:10px;
}
footer{
    text-align: center;
    background-color: darkgrey;
    color:aliceblue;
    font-size:20px;
    padding:20px;

}
