h1{
    color:brown;
}
.parent .head1{
    width:600px;
}
.parent-1 .child-1 h1{
    font-size:100px;
}
.child-1 h2{
    color:blue;
}
.para-1{
    text-align:justify;
}
.child-2 .pic{
    border:10px solid green;
}