*{
    margin:0;
    padding:0;
}
.main{
    position:absolute;
    border:1px solid red;
    width:100px;height:100px;
    right:0;
    top:0;
    
}
.sub{
    border:1px solid green;
    
   
}
body{
    position:relative;
}