*{
    margin:0;
    padding:0;
}
.p{
    border:12px solid blue; 
    background-color: aqua;
    color:darkblue;
    padding-bottom:5%;
    padding-left: 1%;
    width:20%;
    height:40%;
    margin:20px;
    
}
.p1{
    color:darkblue;
    margin-top:10px;
}
.p2{
    color:blue;
    margin-top:10px;
}