*{
    margin: 0;
    padding:0;
}
body{
    margin:20px;
    padding:0;
}

.main1{
    border:1px solid aqua;
    background-color:pink ;
    width:5%;
    height:100%;
    display:inline-block;
    
}
.sub1{
    border:1px solid aqua;
    background-color:pink ;
    width:5%;
    height:100%;
    display:inline-block;

}
.sub2{
    border:1px solid aqua;
    background-color:pink ;
    width:5%;
    height:100%;
    display:inline-block;
    
}
.sub3{
    border:1px solid aqua;
    background-color:pink ;
    width:5%;
    height:100%;
    display:inline-block;
    
}
.sub4{
    border:1px solid aqua;
    background-color:pink ;
    width:5%;
    height:100%;
    display:inline-block;
}
.sub5{
    border:1px solid aqua;
    background-color:pink ;
    width: 5%;
    height:100%;
    display:inline-block;
}

.sub6{
    border:1px solid aqua;
    background-color:pink ;
    width:5%;
    height:100%;
    display:inline-block;

}
.sub7{
    border:1px solid aqua;
    background-color:pink ;
    width:5%;
    height:100%;
    display:inline-block;
    
}
.sub8{
    border:1px solid aqua;
    background-color:pink ;
    width:5%;
    height:100%;
    display:inline-block;
    
}
.sub9{
    border:1px solid aqua;
    background-color:pink ;
    width:5%;
    height:100%;
    display:inline-block;
}
.sub10{
    border:1px solid aqua;
    background-color:pink ;
    width:5%;
    height:100%;
    display:inline-block;
}
.sub11{
    border:1px solid aqua;
    background-color:pink ;
    width:5%;
    height:100%;
    display:inline-block;
    
}
.main{
    max-width: 1200px;
}