*{
    margin:0;
    padding: 0;
}
nav{                                                            /*header start here*/
    background: #333333;
    padding-bottom: 49px;
    text-align: center;
    padding-top: 48px;
}
header{
    overflow: hidden;
}
.navul{
    text-align: center;
    padding-top: 48px;
    padding-bottom: 49px;
}
.list1{
    color: #FFFEFE;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    display: inline-block;
    padding-right: 44px; 
}
.head1{
    border-bottom: 1px solid #000000;
    background: #FFFFFF;
    box-shadow: 0px 4px 29px rgba(111, 111, 111, 0.25);
    overflow: hidden;
    display: table;
    width: 100%;
   
    
   
}
.para{
    text-align: right;
    display: table-cell;
    vertical-align: middle;
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    padding-right:30px ;
    
}
.p1{
    padding-bottom: 16px;
}

.img1{
    width: 218px;
    display: table-cell;
    margin: 21px 0;
    padding-left: 50px;
}                                         
                              /*header end here*/
                                /*section start here*/
section{                                    
    width:100%;
    margin:0 auto;
}
.indo{                              /*first div start here*/
    background: #F3F2EE;
    width:100%;
    margin:0 auto;
}
.indo1{
    display: inline-block;
    width:26.3%;
    padding: 23px 50px 61px 50px;
    
}
/*.p3{
    padding:49px 0px 14px 38px;
}*/
h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    /* identical to box height */


    color: #343434;
    padding-top: 72px;
    padding-bottom: 23px;
}
.img2{
    border: 1px solid #6F6C6C;
    padding:12px 16px;
}
.p3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 153.19%;
    /* or 35px */

    color: #000000;
    padding: 49px 15px 14px 0px;

}
.p4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 153.19%;
    /* or 44px */


    color: #6D9D34;
    padding-top: 14px;
    padding-left: 38px;
    padding-bottom: 13px;
}                                           /*first div end here*/
.div1{
    padding-left: 44px;
    padding-right: 44px;
}
.rightdiv{                                  /*right div end here*/
    width:60%;
    display: inline-block;
    vertical-align: top;
    padding-right: 35px;
}
.img3{
    padding:101px 50px 134px 50px;
}
.p3{
    display: inline-block;
    
}
.rightdiv2 .head3{
    color: #8F8F8F;
    border-bottom: 1px solid #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 153.19%;
    /* identical to box height, or 66px */
    padding-left: 38px;
    padding-bottom: 16px;
   
}
.rightimg{
    display: inline-block;
    width:24%;
    vertical-align: top;
    padding: 34px 20px 42px 25px;
}
.img4{
    padding: 17px 20px 17px 20px;
    border: 1px solid #333333;
    
}
.rightpara{
    width:68%;
    padding-top: 34px;
    padding-bottom: 23px;
    float: right;
}
.para51{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 153.19%;
    /* identical to box height, or 31px */


    color: #8F8F8F;
    padding-left: 20px;
    padding-bottom: 23px;
}
.para5{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 118.19%;
    /* or 21px */


    color: #8F8F8F;

    display: inline-block;
    padding-left: 20px;
    padding-bottom: 10px;
    
}

.para6{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 153.19%;
    /* or 25px */


    color: #8F8F8F;
    padding-left: 34px;
    padding-top: 42px;
    padding-bottom: 89px;
}                                   /*right div end here*/
.leftdiv{                                       /*left div start here*/
    width:37%;
    display: inline-block;
}
.box{
    border-bottom: 1px solid #949393;
}
.lefthead{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 153.19%;
    /* identical to box height, or 66px */


    color: #8F8F8F;
    border-bottom: 1px solid #949393;
    padding-top: 64px;
    padding-bottom: 4px;
}
.boximg{
    display: inline-block;
    width:42%;
    padding-top: 30px;
    padding-bottom: 47px;
    padding-right: 26px;
}
.img5{
    box-sizing: border-box;
    border: 1px solid #7B7979;
    padding: 15px 19px 15px 19px;

}
.boxpara{
    display: inline-block;
    width:51%;
  
}
.leftpara11{
    padding-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 169.19%;
    /* or 37px */


    color: #6C6C6C;
}
.leftpara1{
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 169.19%;
    /* or 34px */


    color: #707070;
    
    padding-bottom: 17px;
}
.leftpara2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 153.19%;
    /* identical to box height, or 37px */


    color: #6D9D34;
    padding-bottom: 18px;
    padding-left:60px;
    padding-top: 17px;
}                                   /*left div end here*/
.divbottom{                             /*bottom div start here*/
    background: #333333;
    width:100%;
    margin-top: 44px;
    padding-top: 63px;
}
.about{
    width:36%;
    display: inline-block;
    vertical-align: top;
    padding-left:43px ;
    padding-right: 30px;
}

.headbottom{
    vertical-align: top;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 153.19%;
    /* identical to box height, or 66px */


    color: #B1B1B1;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 12px;
}
.aboutimg{
    display:inline-block;
    width: 25%;
    padding-top: 26px;
}
.img6{
    border: 1px solid #C2C2C2;
    padding:13px 11px 13px 11px;
}
.aboutpara{
    width:52%;
    float: right;
    padding-top: 26px;
}
.bottom-p1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 169.19%;
    /* identical to box height, or 41px */


    color: #FFFFFF;
    padding-bottom: 10px;

}
.bottom-p11{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 109.19%;
    /* or 22px */


    color: #FFFFFF;
    padding-bottom: 8px;
}
.bottom-p2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 119.69%;
    /* identical to box height, or 23px */


    color: #FFFFFF;
    padding: 29px 0px 47px 52px;
}
.latestimg{
    width:28%;
    display: inline-block;
    padding-right: 30px;
}
.latestimg1{
    padding:26px 28px 16px 0px;
}
.contact{
    width:25%;
    display: inline-block;
    vertical-align: top;
    padding-right:43px ;
}
.details{
    list-style: none;
    padding-top: 26px;
}
.bottomli{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 195.19%;
    /* or 41px */


    color: #FFFFFF;
    
}                           /*bottom div end here*/
footer{                             /*footer div start here*/
    background: #777777;
}
.footpara1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 195.19%;
    /* identical to box height, or 41px */


    color: #D7E8B9;
    display: inline-block;
    padding:23px 0px 23px 41px;
}
.footpara2{
    float:right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 195.19%;
    /* identical to box height, or 41px */


    color: #D7E8B9;
    padding:23px 41px 41px 0px;
}
                                            /*footer end here*/

